@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Index</h1>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <script type="text/javascript">

                        $(document).ready(() => {

                            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7186/SignalRHub").build();
                            $("#connstatus").text(connection.state);
                            connection.start().then(() => {
                                $("#connstatus").text(connection.state);
                                setInterval(() => {
                                    connection.invoke("SendCategoryCount");
                                }, 1000);
                               
                            }).catch((err) => { console.log(err) });

                            connection.on("ReceiveCategoryCount", (value) => {
                                $("#categorycount").text(value);
                            });

                        });

                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="alert alert-success">Bağlantının Durumu:<strong id="connstatus"></strong></div>
        <div class="alert alert-info">Kategori Sayısı:<strong id="categorycount"></strong></div>
    </div>
</div>