@model List<ResultCategoryDto>



<ul class="filters_menu">
    <li class="active" data-filter="*">Tüm Ürünler</li>

    @foreach (var item in Model)

    {
        <li data-filter=".@item.CategoryName">@item.CategoryName</li>
    }
</ul>