@model CreateAboutDto

@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ana Sayfa Hakkımızda İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Hakkımızda Yazı Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ImageUrl">Görselin Url'ini Giriniz</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description">Açıklamayı Giriniz</label>
                                <textarea rows="5" class="form-control" asp-for="Description" id="Description"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Hakkımda Yazısını Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
