@model UpdateNotificationDto

@{
    ViewData["Title"] = "UpdateNotification";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Bildirim İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <input type="hidden" asp-for="NotificationID" />
                        <div class="card-header">
                            <div class="card-title">Yeni Bildirim Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Bildirim Türü</label>
                                <input type="text" class="form-control" asp-for="Type" id="categoryname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Bildirim İkonu</label>
                                <input type="text" class="form-control" asp-for="Icon" id="categoryname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Açıklama</label>
                                <input type="text" class="form-control" asp-for="Description" id="categoryname">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Bildirimi Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


