@model UpdateTestimonialDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Müşteri Yorum İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Müşteri Yorumu Ekleme Sayfası</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="TestimonialID" />
                            <div class="form-group">
                                <label for="Name">Müşteri Adını Giriniz</label>
                                <input type="text" class="form-control" asp-for="Name" id="Name">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Müşteri Ünvanını Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ImageUrl">Müşteri Resim Dosya Yolunu Giriniz</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Comment">Müşteri Yorumunu Giriniz</label>
                                <input type="text" class="form-control" asp-for="Comment" id="Comment">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Yorumu Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
