@model CreateSocialMediaDto

@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Sosyal Medya İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Sosyal Medya Hesabı Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Başlık Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Icon">İkon Giriniz</label>
                                <input type="text" class="form-control" asp-for="Icon" id="Icon">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Url">Link Giriniz</label>
                                <input type="text" class="form-control" asp-for="Url" id="Url">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Sosyal Medya Hesabını Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
