<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Yönetim Paneli
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="/Menu/Index/">
								<span class="link-collapse">Menüyü Gör</span>
							</a>
						</li>
						<li>
							<a href="/Register/Index/">
								<span class="link-collapse">Yeni Kayıt</span>
							</a>
						</li>
						<li>
							<a href="/Login/Index/">
								<span class="link-collapse">Giriş Yap</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="la la-motorcycle"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Menu/Index/">
					<i class="la la-music"></i>
					<p>Menüyü Gör</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Category/Index/">
					<i class="la la-keyboard-o"></i>
					<p>Kategoriler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Product/Index/">
					<i class="la la-birthday-cake"></i>
					<p>Ürünler</p>			
				</a>
			</li>
			<li class="nav-item">
				<a href="/Booking/Index/">
					<i class="la la-bell"></i>
					<p>Rezervasyonlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About/Index/">
					<i class="la la-font"></i>
					<p>Hakkımızda</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Discount/Index/">
					<i class="la la-money"></i>
					<p>İndirimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact/Index/">
					<i class="la la-phone-square"></i>
					<p>İletişim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Slider/Index/">
					<i class="la la-gamepad"></i>
					<p>Öne Çıkanlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Testimonial/Index/">
					<i class="la la-group"></i>
					<p>Referanslar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/SocialMedia/Index/">
					<i class="la la-map-marker"></i>
					<p>Sosyal Medya</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Statistic/Index/">
					<i class="la la-pie-chart"></i>
					<p>İstatistikler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/MenuTables/Index/">
					<i class="la la-optin-monster"></i>
					<p>Masalar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/MenuTables/TableListByStatus/">
					<i class="la la-ship"></i>
					<p>Masa Durumları</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/Index/">
					<i class="la la-vimeo-square la-vine la-vk la-volume-down la-volume-off la-volume-up la-warning la-wechat"></i>
					<p>Mesaj Sayfası</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Notifications/Index/">
					<i class="la la-umbrella"></i>
					<p>Bildirimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/ProgressBars/Index/">
					<i class="la la-bar-chart"></i>
					<p>Anlık Durum Çubuğu</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Setting/Index/">
					<i class="la la-chain"></i>
					<p>Ayarlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Mail/Index/">
					<i class="la la-anchor"></i>
					<p>Mail İşlemleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/QRCode/Index/">
					<i class="la la-qrcode"></i>
					<p>QR Kod Oluştur</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Login/LogOut/">
					<i class="la la-plane"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Login/LogOut/">
					<i class="la la-expeditedssl"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>