@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>

<div class="content">
    <div class="container-fluid">
        <script type="text/javascript">

            $(document).ready(() => {

                var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7186/SignalRHub").build();
                $("#connstatus").text(connection.state);
                connection.start().then(() => {
                    $("#connstatus").text(connection.state);
                    setInterval(() => {
                        connection.invoke("SendProgress");
                    }, 1000);
                }).catch((err) => { console.log(err) });

                connection.on("ReceiveTotalMoneyCaseAmount", (value) => {
                    $("#totalmoneycaseamount").text(value);
                });

                connection.on("ReceiveTActiveOrderCount", (value2) => {
                    $("#activeordercount").text(value2);
                });

                connection.on("ReceiveMenuTableCount", (value3) => {
                    $("#menutablecount").text(value3);
                });

                connection.on("ReceiveMenuTableCount", (value4) => {
                    $("#totalMenuTableCountProgress").empty();
                    $("#totalMenuTableCountProgress").append(`
                        <div class="d-flex justify-content-between mb-1">
                        <span class="text-muted">Toplam Masa Sayısı</span>
                        <span class="text-muted fw-bold">${value4}</span>
                        </div>
                        <div class="progress mb-2" style="height: 7px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: ${value4}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value4}%"></div>
                        </div>                              
                `)
                });

                connection.on("ReceiveProductPriceAvg", (value5) => {
                    $("#ReceiveProductPriceAvgProgress").empty();
                    $("#ReceiveProductPriceAvgProgress").append(`
                        <div class="d-flex justify-content-between mb-1">
                        <span class="text-muted">Ortalama Ürün Fiyatı</span>
                        <span class="text-muted fw-bold">${value5}</span>
                        </div>
                        <div class="progress mb-2" style="height: 7px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: ${value5}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value5}%"></div>
                        </div>                              
                `)
                });

                connection.on("ReceiveAvgPriceByHamburger", (value6) => {
                    $("#ReceiveAvgPriceByHamburgerProgress").empty();
                    $("#ReceiveAvgPriceByHamburgerProgress").append(`
                        <div class="d-flex justify-content-between mb-1">
                        <span class="text-muted">Ortalama Hamburger Fiyatı</span>
                        <span class="text-muted fw-bold">${value6}</span>
                        </div>
                        <div class="progress mb-2" style="height: 7px;">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: ${value6}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value6}%"></div>
                        </div>                              
                `)
                });

                connection.on("ReceiveProductCountByCategoryNameDrink", (value7) => {
                    $("#ReceiveProductCountByCategoryNameDrinkProgress").empty();
                    $("#ReceiveProductCountByCategoryNameDrinkProgress").append(`
                        <div class="d-flex justify-content-between mb-1">
                        <span class="text-muted">İçecek Kategori Sayısı</span>
                        <span class="text-muted fw-bold">${value7}</span>
                        </div>
                        <div class="progress mb-2" style="height: 7px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: ${value7}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value7}%"></div>
                        </div>                              
                `)
                });

                connection.on("ReceiveTotalOrderCount", (value8) => {
                    $("#ReceiveTotalOrderCountProgress").empty();
                    $("#ReceiveTotalOrderCountProgress").append(`
                                    <div class="d-flex justify-content-between mb-1">
                                    <span class="text-muted">Toplam Sipariş Sayısı</span>
                                    <span class="text-muted fw-bold">${value8}</span>
                                    </div>
                                    <div class="progress mb-2" style="height: 7px;">
                                    <div class="progress-bar bg-dark" role="progressbar" style="width: ${value8}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value8}%"></div>
                                    </div>
                            `)
                });

                connection.on("ReceiveProductPriceBySteakBurger", (value9) => {
                    $("#ReceiveProductPriceBySteakBurgerProgress").empty();
                    $("#ReceiveProductPriceBySteakBurgerProgress").append(`
                                    <div class="d-flex justify-content-between mb-1">
                                    <span class="text-muted">Steak Burger Fiyatı</span>
                                    <span class="text-muted fw-bold">${value9}</span>
                                    </div>
                                    <div class="progress mb-2" style="height: 7px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: ${value9}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value9}%"></div>
                                    </div>
                            `)
                });

                connection.on("ReceiveTotalPriceByDrinkCategory", (value10) => {
                    $("#ReceiveTotalPriceByDrinkCategoryProgress").empty();
                    $("#ReceiveTotalPriceByDrinkCategoryProgress").append(`
                                                <div class="d-flex justify-content-between mb-1">
                                                <span class="text-muted">Toplam İçecek Fiyatı</span>
                                                <span class="text-muted fw-bold">${value10}</span>
                                                </div>
                                                <div class="progress mb-2" style="height: 7px;">
                                                <div class="progress-bar bg-secondary" role="progressbar" style="width: ${value10}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value10}%"></div>
                                                </div>
                                        `)
                });

                connection.on("ReceiveTotalPriceBySaladCategory", (value11) => {
                    $("#ReceiveTotalPriceBySaladCategoryProgress").empty();
                    $("#ReceiveTotalPriceBySaladCategoryProgress").append(`
                                                            <div class="d-flex justify-content-between mb-1">
                                                            <span class="text-muted">Toplam Salata Fiyatı</span>
                                                            <span class="text-muted fw-bold">${value11}</span>
                                                            </div>
                                                            <div class="progress mb-2" style="height: 7px;">
                                                            <div class="progress-bar bg-warning" role="progressbar" style="width: ${value11}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value11}%"></div>
                                                            </div>
                                                    `)
                });

            });

        </script>


        <h4 class="page-title">Admin İstatistikler & Durumlar</h4>
        <div class="row">
            <div class="col-md-12">

                <div class="row row-card-no-pd">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="fw-bold mt-1">Kasadaki Toplam Tutar</p>
                                <h4 id="totalmoneycaseamount"><b></b></h4>
                                <hr />
                                <p class="fw-bold mt-1">Toplam Ürün Fiyatları</p>
                                <h4>1465.78₺</h4>
                                 <hr />
                                <p class="fw-bold mt-1">Ortalama Ürün Fiyatı</p>
                                <h4>48.65₺</h4>
                                <hr />
                                <p class="fw-bold mt-1">Son Sipariş Tutarı</p>
                                <h4>264.00₺</h4>

                                <a href="/Order/CreateOrder/" class="btn btn-primary btn-full text-left mt-3 mb-3"><i class="la la-plus"></i> Yeni Sipariş</a>
                            </div>
                          
                            <div class="card-footer">
                                <ul class="nav">
                                    <li class="nav-item"><a class="btn btn-default btn-link" href="/Order/Index/"><i class="la la-history"></i> Siparişler</a></li>
                                    <li class="nav-item ml-auto"><a class="btn btn-default btn-link" href="/ProgressBars/Index/"><i class="la la-refresh"></i> Sayfayı Yenile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body">

                                <div class="progress-card" id="totalMenuTableCountProgress"></div>

                                <div class="progress-card" id="ReceiveProductPriceAvgProgress"></div>

                                <div class="progress-card" id="ReceiveAvgPriceByHamburgerProgress"></div>

                                <div class="progress-card" id="ReceiveProductCountByCategoryNameDrinkProgress"></div>

                                <div class="progress-card" id="ReceiveTotalOrderCountProgress"></div>
                         
                                <div class="progress-card" id="ReceiveProductPriceBySteakBurgerProgress"></div>
                                                               
                                <div class="progress-card" id="ReceiveTotalPriceByDrinkCategoryProgress"></div>
                                                                 
                                <div class="progress-card" id="ReceiveTotalPriceBySaladCategoryProgress"></div>                                          
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-stats">
                            <div class="card-body">
                                <p class="fw-bold mt-1">Anlık İstatistikler</p>

                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="la la-pie-chart text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Aktif Siparişler</p>
                                            <h4 class="card-title" id="activeordercount"></h4>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-heart-o text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Masa Sayısı</p>
                                            <h4 class="card-title" id="menutablecount"></h4>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-car text-success"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Kategori Sayısı</p>
                                            <h4 class="card-title">30</h4>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-dribbble text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Ürün Sayısı</p>
                                            <h4 class="card-title">25</h4>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-glass text-dark"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Rezervasyon Sayısı</p>
                                            <h4 class="card-title">146</h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>