@model CreateContactDto

@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ana Sayfa İletişim Bilgi İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni İletişim Yazı Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Location">Lokasyonu Giriniz</label>
                                <input type="text" class="form-control" asp-for="Location" id="Location">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Phone">Telefon Numarası Giriniz</label>
                                <input type="text" class="form-control" asp-for="Phone" id="Phone">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Mail">Mail Adresi Giriniz</label>
                                <input type="email" class="form-control" asp-for="Mail" id="Mail">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title">Alt Başlık</label>
                                <input type="text" class="form-control" asp-for="FooterTitle" id="title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="OpenDays">Açık Günler</label>
                                <input type="text" class="form-control" asp-for="OpenDays" id="OpenDays">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="OpenDaysDescription">Açık Günler Açıklama</label>
                                <input type="text" class="form-control" asp-for="OpenDaysDescription" id="OpenDaysDescription">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="OpenHours">Açık Saatler</label>
                                <input type="text" class="form-control" asp-for="OpenHours" id="OpenHours">
                            </div>
                        </div>                      
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description">Alt Açıklama Alanı</label>
                                <textarea rows="5" class="form-control" asp-for="FooterDescription" id="Description"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">İletişim Bilgi Yazısını Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
