@model List<ResultContactDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Ana Sayfa İletişim Bilgi İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">

				<div class="card">
					<div class="card-header">
						<div class="card-title">İletişim Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
                            İletişim alanıyla ilgili işlemleri yapabilirsiniz.<strong> Tema bütünlüğü için sadece 1 tane iletişim alanı oluşturmayı unutmayın.</strong>
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">Telefon</th>
									<th scope="col">Mail</th>
									<th scope="col">Açıklama</th>
									<th scope="col">Sil</th>
									<th scope="col">Güncelle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.Phone</td>
										<td>@item.Mail</td>
										<td>@item.FooterDescription</td>
										<td><a href="/Contact/DeleteContact/@item.ContactID" class="btn btn-outline-danger">Sil</a></td>
										<td><a href="/Contact/UpdateContact/@item.ContactID" class="btn btn-outline-success">Güncelle</a></td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/Contact/CreateContact/" class="btn btn-outline-primary">Yeni İletişim Yazısı Girişi</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>