@model CreateProductDto

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ürün İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Ürün Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="productname">Ürün Adını Giriniz</label>
                                <input type="text" class="form-control" asp-for="ProductName" id="productname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="price">Ürün Fiyatını Giriniz</label>
                                <input type="text" class="form-control" asp-for="Price" id="price">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="imageurl">Ürün Görselini Giriniz</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="imageurl">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="price">Ürün Kategorisini Seçiniz</label>
                                @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.v,new {@class="form-control"})
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="description">Ürün Açıklamasını Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description" id="description">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Ürünü Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
