<footer class="footer">
	<div class="container-fluid">
		<nav class="pull-left">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="http://www.themekita.com">
						Ayarlar
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						Yardım
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://themewagon.com/license/#free-item">
						Ana Sayfa
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright ml-auto">
			@DateTime.Now.Year | Tüm Hakları Saklıdır.
		</div>
	</div>
</footer>